html, body{
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.btn{
  font: bold 12px Arial;
  text-decoration: none;
  padding: 8px 8px 8px 8px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.btn-danger {
  background-color: #c00000;
  color: #ffffff;
}

.btn-primary {
  background-color: blue;
  color: #333333;
}

.table-edit {
  border: 1px solid;
  width: 100%;
}

.table-display {
  border-collapse: collapse;
  width: 0%;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical
}

input[type=submit] {
  background-color: white;
  color: #333333;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #333333;
  color: white;
}

