html, body{
  background-color: #fff;
  color: #636b6f;
  font-family: 'Nunito', sans-serif;
  font-weight: 200;
  height: 100vh;
  margin: 0;
  padding: 20px;
}

.btn{
  font: bold 13px sans-serif;
  text-decoration: none;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 8px 8px 8px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  color: #636b6f;
  padding: 8px 8px 8px 8px;
}

.btn-danger {
  background-color: #c00000;
  color: #fff;
}

.btn-primary {
  background-color: #fff;
  color: #636b6f;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

thead {
  background-color: #f2f2f2;
}

table {
  border-collapse: collapse;
  width: 100%;
  padding: 40px;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px;
  resize: vertical
}

input[type=submit] {
  background-color: white;
  color: #333333;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #333333;
  color: white;
}

